# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.
name: "KlearTouch"
title: "KlearTouch"
subtitle: "App development"
description: "Build powerful native apps"
email: "KlearTouch@KlearTouch.com"
og_image: "/assets/images/logo.png"
favicon32: "/assets/images/favicon-32x32.png"
favicon128: "/assets/images/favicon-128x128.png"

twitter_username: PierreHenriK
github_username: "KPixel"
minimal_mistakes_skin: "dark"
search: true

# Build settings
markdown: kramdown
remote_theme: KlearTouch/theme
# Outputting
permalink: /:categories/:title/
paginate: 2 # amount of posts to show
paginate_path: /:categories/page:num/
# timezone: # https://en.wikipedia.org/wiki/List_of_tz_database_time_zones
entries_layout: "kustom"

include:
  - _pages

# Exclude from processing.
# The following items will not be processed, by default. Create a custom list
# to override the default setting.
# exclude:
#   - Gemfile
#   - Gemfile.lock
#   - node_modules
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/

# Plugins (previously gems:)
plugins:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed
  - jemoji
  - jekyll-include-cache

social:
  type   : "Organization"

author:
  name   : "Pierre Henri"
  avatar : "https://avatars.githubusercontent.com/u/26368333"
  bio    : "Build powerful native apps"
  links:
    - label: "@PierreHenriK"
      icon: "fab fa-fw fa-twitter-square"
      url: "https://twitter.com/PierreHenriK"
    - label: "GitHub"
      icon: "fab fa-fw fa-github"
      url: "https://github.com/KPixel"

footer:
  links:
    - label: "Terms of service"
      icon: "fas fa-fw fa-file-contract"
      url: "/terms/"
    - label: "Privacy"
      icon: "fas fa-fw fa-user-secret"
      url: "/privacy/"
    - label: "@PierreHenriK"
      icon: "fab fa-fw fa-twitter-square"
      url: "https://twitter.com/PierreHenriK"
    - label: "GitHub"
      icon: "fab fa-fw fa-github"
      url: "https://github.com/KPixel"

defaults:
  # _posts
  - scope:
      path: ""
      type: posts
    values:
      layout: single
      author_profile: true
      read_time: true
      comments: true
      share: true
      related: true
  # _pages
  - scope:
      path: "_pages"
      type: pages
    values:
      layout: single
      author_profile: false

category_archive:
  type: liquid
  path: /categories/
tag_archive:
  type: liquid
  path: /tags/
